/out/
/Main/src/cpp/com_game_nativeclass_Native.h
/Main/src/cpp/com_game_nativeclass_Native.o
/Main/src/cpp/libnative.so
/Main/src/com/game/nativeclass/Native.class

/out/production/Desktop/
/out/production/Main/
